In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [4]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [6]:
# Create dummy variables
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [7]:
X = pd.concat([X, geography, gender], axis=1)

In [8]:
X = X.drop(['Geography', 'Gender'], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [12]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout

In [14]:
# Initlialising the ANN
classifier = Sequential()

In [15]:
# Adding the input layer and the first hidden layer
# Because he_unitform works well with relu
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu', input_dim=11))

In [16]:
# Adding the second hidden layer
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))

In [17]:
# Adding the output layer
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [18]:
# Complie the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [19]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Fitting the ANN to the Training set
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

In [ ]:
df.isnull().values.any()

In [ ]:
df.isnull().sum()

In [ ]:
model_history

In [ ]:
model_history.history.keys()

In [ ]:
plt.plot(model_history.history['accuracy'])
plt.plot(model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

#### Part 3 - Making the predictions and evaluating the model

In [ ]:
# Predicting the Test Set results
y_pred = classifier.predict(X_test)
y_pred

In [ ]:
len(y_pred)

In [ ]:
y_pred = (y_pred > 0.5)
y_pred

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

In [ ]:
import seaborn as sb
plt.figure(figsize=(4,4))
sb.heatmap(cm, annot=True)
plt.xlabel('predicted')
plt.ylabel('Truth')

In [ ]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)
score

In [ ]:
new_classifier = Sequential()

# 1st hidden layer
new_classifier.add(Dense(units = 10, kernel_initializer='he_normal', activation='relu', input_dim=11))

# 2st hidden layer
new_classifier.add(Dense(units=20, kernel_initializer='he_normal', activation='relu'))

# 3st hidden layer
new_classifier.add(Dense(units=15, kernel_initializer='he_normal', activation='relu'))

# Adding output layer
new_classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

# Compiling the ANN
new_classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
new_model_history = new_classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

In [ ]:
new_y_pred = new_classifier.predict(X_test)
new_y_pred = (new_y_pred > 0.5)

In [ ]:
# Confusion matrix
cm_new = confusion_matrix(y_test, y_pred)
cm_new

In [ ]:
plt.figure(figsize=(4,4))
sb.heatmap(cm, annot=True)
plt.xlabel('predicted')
plt.ylabel('Truth')

In [ ]:
new_score = accuracy_score(new_y_pred, y_test)
new_score

#### Using Dropout

In [ ]:
drop_classifier = Sequential()

# 1st hidden layer
drop_classifier.add(Dense(units = 10, kernel_initializer='he_normal', activation='relu', input_dim=11))
drop_classifier.add(Dropout(0.3))

# 2st hidden layer
drop_classifier.add(Dense(units=20, kernel_initializer='he_normal', activation='relu'))
drop_classifier.add(Dropout(0.4))

# 3st hidden layer
drop_classifier.add(Dense(units=15, kernel_initializer='he_normal', activation='relu'))
drop_classifier.add(Dropout(0.2))

# Adding output layer
drop_classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
print('-'*6 + ' Drop Classifier ' + '-'*6)
print(drop_classifier)

# Compiling the ANN
drop_classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

drop_model_history = drop_classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

drop_y_pred = new_classifier.predict(X_test)
drop_y_pred = (drop_y_pred > 0.5)

# Confusion matrix
drop_cm = confusion_matrix(y_test, y_pred)
print('-'*6 + ' Confusion Matrix ' + '-'*6)
print(drop_cm)

# Plotting Confusion Matrix
plt.figure(figsize=(4,4))
sb.heatmap(drop_cm, annot=True)
plt.xlabel('predicted')
plt.ylabel('Truth')
plt.plot()

# Calculating accuracy score
drop_score = accuracy_score(drop_y_pred, y_test)
print('-'*6+ ' DropScore '+ '-'*6)
print(drop_score)

In [ ]:
plt.plot(model_history.history['accuracy'])
plt.plot(model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
plt.plot(new_model_history.history['accuracy'])
plt.plot(new_model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
plt.plot(drop_model_history.history['accuracy'])
plt.plot(drop_model_history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()