In [1]:
# 0 -passwed away
# 1 -alive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
input = df.drop(['PassengerId', 'Name','SibSp','Parch', 'Ticket', 'Cabin', 'Embarked', 'Survived', 'Fare'], axis=1)
input.head()

   Pclass     Sex   Age
0       3    male  22.0
1       1  female  38.0
2       3  female  26.0
3       1  female  35.0
4       3    male  35.0

In [5]:
target = df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()

In [7]:
input['sex_n'] = le_sex.fit_transform(input.Sex)
input.head()

   Pclass     Sex   Age  sex_n
0       3    male  22.0      1
1       1  female  38.0      0
2       3  female  26.0      0
3       1  female  35.0      0
4       3    male  35.0      1

In [8]:
input.drop(['Sex'], axis=1, inplace=True)

In [9]:
input.head()

   Pclass   Age  sex_n
0       3  22.0      1
1       1  38.0      0
2       3  26.0      0
3       1  35.0      0
4       3  35.0      1

In [10]:
from sklearn import tree
dt = tree.DecisionTreeClassifier()

In [11]:
mean_age = input.Age.mean()
mean_age

29.69911764705882

In [12]:
input.Age.fillna(mean_age, inplace=True)

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input, target, test_size=0.2)

In [14]:
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [15]:
y_predicted = dt.predict(x_test)

In [16]:
dt.score(x_test, y_test)

0.8044692737430168

In [17]:
dt.predict_proba(x_test)

array([[1.        , 0.        ],
       [0.78571429, 0.21428571],
       [0.4       , 0.6       ],
       [0.85714286, 0.14285714],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.42857143, 0.57142857],
       [0.5       , 0.5       ],
       [1.        , 0.        ],
       [0.875     , 0.125     ],
       [0.88461538, 0.11538462],
       [0.88461538, 0.11538462],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.66666667, 0.33333333],
       [0.83333333, 0.16666667],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.78571429, 0.21428571],
       [0.42857143, 0.57142857],
       [0.66666667, 0.33333333],
       [0.        , 1.        ],
       [0.5       , 0.5       ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.75      , 0.25      ],
       [0.44444444, 0.55555556],
       [1.        , 0.        ],
       [0.78571429, 0.21428571],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [0.78571429, 0.21428571],
       [0.71428571, 0.28571429],
       [0.42857143, 0.57142857],
       [0.78571429, 0.21428571],
       [1.        , 0.        ],
       [0.42857143, 0.57142857],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.66666667, 0.33333333],
       [0.        , 1.        ],
       [0.83333333, 0.16666667],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.5       , 0.5       ],
       [0.75      , 0.25      ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.71428571, 0.28571429],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.71428571, 0.28571429],
       [0.        , 1.        ],
       [0.88461538, 0.11538462],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.88461538, 0.11538462],
       [0.875     , 0.125     ],
       [0.875     , 0.125     ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.875     , 0.125     ],
       [0.875     , 0.125     ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.88461538, 0.11538462],
       [0.44444444, 0.55555556],
       [0.66666667, 0.33333333],
       [0.6       , 0.4       ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.875     , 0.125     ],
       [1.        , 0.        ],
       [0.6       , 0.4       ],
       [0.78571429, 0.21428571],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.4       , 0.6       ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.75      , 0.25      ],
       [0.4       , 0.6       ],
       [0.85714286, 0.14285714],
       [0.66666667, 0.33333333],
       [1.        , 0.        ],
       [0.71428571, 0.28571429],
       [0.6       , 0.4       ],
       [0.66666667, 0.33333333],
       [0.4       , 0.6       ],
       [0.        , 1.        ],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [1.        , 0.        ],
       [0.875     , 0.125     ],
       [0.875     , 0.125     ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.75      , 0.25      ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.5       , 0.5       ],
       [0.42857143, 0.57142857],
       [0.78571429, 0.21428571],
       [0.4       , 0.6       ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.5       , 0.5       ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.875     , 0.125     ],
       [0.83333333, 0.16666667],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [0.42857143, 0.57142857],
       [0.5       , 0.5       ],
       [0.66666667, 0.33333333],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.88461538, 0.11538462],
       [1.        , 0.        ],
       [0.83333333, 0.16666667],
       [0.88461538, 0.11538462],
       [0.88461538, 0.11538462],
       [0.        , 1.        ],
       [0.66666667, 0.33333333],
       [1.        , 0.        ],
       [0.        , 1.        ],
       [1.        , 0.        ],
       [0.875     , 0.125     ],
       [0.        , 1.        ],
       [0.42857143, 0.57142857]])

In [18]:
x_test.head()

     Pclass        Age  sex_n
27        1  19.000000      1
527       1  29.699118      1
49        3  18.000000      0
514       3  24.000000      1
2         3  26.000000      0

In [19]:
y_test.head()

27     0
527    0
49     0
514    0
2      1
Name: Survived, dtype: int64